# 야호트래블 환경 변수 예시
VITE_ADMIN_EMAIL=info.yahotravel@gmail.com
VITE_COMPANY_TEL=055-736-6068
VITE_KAKAO_CHAT_URL=http://pf.kakao.com/_zxiSrX/chat
VITE_NAVER_BLOG_URL=https://m.blog.naver.com/PostList.naver?blogId=jdaewon75&tab=1
VITE_WEB3FORMS_KEY=7272a2ac-24a2-4bc9-9dc3-51c908b4fd60
